<?xml version="1.0" encoding="utf-8"?>
<form>
    <fieldset
        name="general"
        label="COM_NXPEASYCART_CONFIG_FIELDSET_GENERAL"
    >
        <field
            name="base_currency"
            type="text"
            default="USD"
            label="COM_NXPEASYCART_CONFIG_BASE_CURRENCY"
            description="COM_NXPEASYCART_CONFIG_BASE_CURRENCY_DESC"
            filter="cmd"
            size="6"
            maxlength="3"
            inputmode="text"
            pattern="[A-Za-z]{3}"
        />
        <field
            name="checkout_phone_required"
            type="radio"
            default="0"
            label="COM_NXPEASYCART_CONFIG_CHECKOUT_PHONE_REQUIRED"
            description="COM_NXPEASYCART_CONFIG_CHECKOUT_PHONE_REQUIRED_DESC"
            class="btn-group btn-group-yesno"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
            name="category_page_size"
            type="number"
            default="12"
            label="COM_NXPEASYCART_CONFIG_CATEGORY_PAGE_SIZE"
            description="COM_NXPEASYCART_CONFIG_CATEGORY_PAGE_SIZE_DESC"
            filter="integer"
            min="1"
            step="1"
        />
        <field
            name="category_pagination_mode"
            type="list"
            default="paged"
            label="COM_NXPEASYCART_CONFIG_CATEGORY_PAGINATION_MODE"
            description="COM_NXPEASYCART_CONFIG_CATEGORY_PAGINATION_MODE_DESC"
        >
            <option value="paged">
                COM_NXPEASYCART_CONFIG_CATEGORY_PAGINATION_MODE_PAGED
            </option>
            <option value="infinite">
                COM_NXPEASYCART_CONFIG_CATEGORY_PAGINATION_MODE_INFINITE
            </option>
        </field>
    </fieldset>
</form>
